/* Tailwind import */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  padding: 10vw 10vw 0 10vw;
}
/* styles.css */

input[type="text"] {
  padding: 10px;
  margin: 20px;
  color: black;
}

button {
  color: darkgreen;
}

h1 {
  font-size: 5vw !important;
}

h2 {
  font-size: 3vw !important;
}

/* styles.css */

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.grid-item {
  width: 100%;
  padding-bottom: 10px;
}

.grid-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
